.container {
  font-family: "Quicksand", sans-serif;
}

.app-wrapper {
  margin: 20px auto 5px;
  width: 618px;
}

.container {
  padding: 20px 20px 20px 20px;
  border: 2px solid #dfe1e5;
  border-radius: 20px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  width: 618px;
  color: #6d6666;
}

.pic {
  padding: 20px 0 0 20px;
}

h1 {
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
  padding: 20px 0 10px 0px;
}

h2 {
  font-size: 14px;
  line-height: 12px;
  margin-bottom: 0;
  margin-top: 0px;
  margin-right: 0px;
  padding: 0 0 10px 0px;
}

.icon {
  margin-bottom: 0;
  padding: 0;
  display: block;
}

.weather-temperature {
  margin: 0;
  padding: 20px 0;
  font-size: 64px;
}

.description {
  margin: 30px 0;
  padding: 23px 0 0 20px;
  font-size: 16px;
  text-align: left;
}
ul {
  list-style: none;
  padding: 0;
}
.description .units {
  font-size: 36px;
  font-weight: 400;
}

h3 {
  margin: 0;
  padding: 30px 0 0 0;
  font-size: 16px;
}
.weather-forecast {
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.weather-forecast img {
  margin: 0 auto;
  display: block;
  height: 50px;
  width: 50px;
}

p {
  text-align: center;
  padding: 0;
  margin: 0;
}
